
<% flash.each do |type, message| %>
 <% if type == "success"%>
  <section class="w-100 d-flex justify-content-end position-relative mt-5">
  <div data-controller="notification" class="transition transform duration-1000 fixed inset-0 d-flex align-items-end justify-content-center px-4 py-6 pointer-events-none p-sm-1 pt-sm-3 " data-transition-enter-from="opacity-0 translate-x-6" data-transition-enter-to="opacity-100 translate-x-0" data-transition-leave-from="opacity-100 translate-x-0" data-transition-leave-to="opacity-0 translate-x-6">
    <div class=" shadow-lg p-3 mb-5  bg-white bg-gradient bg-opacity-10 rounded">
      <div class="d-flex justify-items-start align-items-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#198754" class="bi bi-check-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
        </svg>

        <div class="ms-3 d-flex flex-column flex-grow-1">
          <p class="fw-bold text-success">
             <%= message %>
          </p>
    
        </div>

        <div class="ms-5 d-flex flex-shrink-0 align-items-top">
          <button data-action="notification#hide" class="bg-transparent rounded-circle border-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#198754" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>

<% elsif type == "warning" %>

 <section class="w-100 d-flex justify-content-end position-relative mt-5 z-index-3">
  <div data-controller="notification" class="transition transform duration-1000 fixed inset-0 d-flex align-items-end justify-content-center px-4 py-6 pointer-events-none p-sm-1 pt-sm-3 " data-transition-enter-from="opacity-0 translate-x-6" data-transition-enter-to="opacity-100 translate-x-0" data-transition-leave-from="opacity-100 translate-x-0" data-transition-leave-to="opacity-0 translate-x-6">
    <div class=" shadow-lg p-3 mb-5 bg-white bg-opacity-10 rounded">
      <div class="d-flex justify-items-start align-items-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffc107" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>

        <div class="ms-3 d-flex flex-column flex-grow-1">
          <p class="fw-bold text-warning">
            <%= message %>
          </p>

        </div>

        <div class="ms-5 d-flex flex-shrink-0 align-items-top">
          <button data-action="notification#hide" class="bg-transparent rounded-circle border-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffc107" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
<% else %>


<section class="w-100 d-flex justify-content-end position-relative mt-5">
  <div data-controller="notification" class="transition transform duration-100000 fixed inset-0 d-flex align-items-end justify-content-center px-4 py-6 pointer-events-none p-sm-1 pt-sm-3 " data-transition-enter-from="opacity-0 translate-x-6" data-transition-enter-to="opacity-100 translate-x-0" data-transition-leave-from="opacity-100 translate-x-0" data-transition-leave-to="opacity-0 translate-x-6">
    <div class=" shadow-lg p-3 mb-5 bg-white bg-gradient  bg-opacity-10 rounded">
      <div class="d-flex justify-items-start align-items-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#dc3545" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
          <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
          <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
        </svg>
        <div class="ms-3 d-flex flex-column flex-grow-1">
          <ul>
           <%# message.each do |msg| %>
            <li>
                      <p class="fw-bold text-danger">
                      <%= message %>
                       </p>

            </li>
            <%# end %>
            </ul>
         
        </div>

        <div class="ms-5 d-flex flex-shrink-0 align-items-top">
          <button data-action="notification#hide" class="bg-transparent rounded-circle border-0 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#dc3545" class="bi bi-x-lg bg-transparent" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

</section>

<% end %>
<% end %>
